BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
UseTab: ForIndentation
IndentWidth: 8
ColumnLimit: 0
SortIncludes: false
AccessModifierOffset: -8
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 8
DerivePointerAlignment: false
PointerAlignment: Left
AlignTrailingComments: false
ReflowComments: false
BreakConstructorInitializers: AfterColon
AllowShortLambdasOnASingleLine: All
AlignAfterOpenBracket: AlwaysBreak
IndentCaseLabels: false
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
